.court {
  width: 500px;
  height: 700px;
  border: solid 2px black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.half {
  width: 500px;
  border-bottom: solid 2px black;
}

.d {
  width: 380px;
  height: 160px;
  border: solid 2px black;
}

.d1 {
  border-radius: 0 0 400px 400px;
}
.d2 {
  border-radius: 400px 400px 0 0;
}

.defender {
  background-color: red;
  height: 45px;
  width: 45px;
  border-radius: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.attacker {
  background-color: blue;
  height: 45px;
  width: 45px;
  border-radius: 30px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.ball {
  position: absolute;
  border-radius: 10px;
  background-color: rgb(255, 238, 0);
  height: 20px;
  width: 20px;
  top: 200px;
  left: 420px;
}

/* Other team */

.gk-red {
  top: 5px;
}

.lb-red {
  top: 150px;
  left: 420px;
}

.rb-red {
  top: 130px;
  left: 90px;
}

.c-red {
  top: 360px;
  left: 280px;
}
.lf-red {
  top: 580px;
  left: 420px;
}
.rf-red {
  top: 500px;
  left: 20px;
}

/* KH players - Left side pressure */

.rf-blue {
  top: 240px;
  left: 360px;
}
.lf-blue {
  top: 270px;
  left: 190px;
}
.c-blue {
  top: 355px;
  left: 60px;
}
.lb-blue {
  top: 490px;
  left: 300px;
}
.rb-blue {
  top: 355px;
  left: 420px;
}

.gk-blue {
  top: 650px;
}

/* animations */

.paused {
  animation-play-state: paused;
}

/* Left side pressure */

.lib1-ball {
  animation-duration: 10s;
  animation-name: lib1-ball;
}
.lib1-lf {
  animation-duration: 10s;
  animation-name: lib1-lf;
}
.lib1-rf {
  animation-duration: 10s;
  animation-name: lib1-rf;
}
.lib1-rb {
  animation-duration: 10s;
  animation-name: lib1-rb;
}
.lib1-lb {
  animation-duration: 10s;
  animation-name: lib1-lb;
}
.lib1-c {
  animation-duration: 10s;
  animation-name: lib1-c;
}
.lib1-rc {
  animation-duration: 10s;
  animation-name: lib1-rc;
}

@keyframes lib1-ball {
  0% {
    top: 200px;
    left: 440px;
  }

  25% {
    top: 180px;
    left: 120px;
  }

  100% {
    top: 300px;
    left: 10px;
  }
}

@keyframes lib1-lf {
  0% {
    top: 270px;
    left: 190px;
  }

  50%,
  100% {
    top: 200px;
    left: 130px;
  }
}

@keyframes lib1-rf {
  0%,
  3% {
    top: 240px;
    left: 360px;
  }

  15% {
    top: 170px;
    left: 350px;
  }

  35%,
  100% {
    top: 170px;
    left: 250px;
  }
}
@keyframes lib1-rb {
  0% {
    top: 355px;
    left: 420px;
  }

  75%,
  100% {
    top: 355px;
    left: 330px;
  }
}
@keyframes lib1-lb {
  0% {
    top: 490px;
    left: 300px;
  }

  75%,
  100% {
    top: 470px;
    left: 130px;
  }
}
@keyframes lib1-c {
  0% {
    top: 355px;
    left: 60px;
  }

  75%,
  100% {
    top: 315px;
    left: 10px;
  }
}
@keyframes lib1-rc {
  0% {
    top: 360px;
    left: 310px;
  }

  100% {
    top: 350px;
    left: 240px;
  }
}

/* Right side pressure  */

/* KH players - Right side pressure */

.right-ball {
  top: 180px;
  left: 110px;
}

.right-rf-blue {
  top: 270px;
  left: 280px;
}
.right-lf-blue {
  top: 240px;
  left: 120px;
}
.right-c-blue {
  top: 355px;
  left: 30px;
}
.right-lb-blue {
  top: 460px;
  left: 200px;
}
.right-rb-blue {
  top: 355px;
  left: 360px;
}

.lib2-ball {
  animation-duration: 10s;
  animation-name: lib2-ball;
}
.lib2-lf {
  animation-duration: 10s;
  animation-name: lib2-lf;
}
.lib2-rf {
  animation-duration: 10s;
  animation-name: lib2-rf;
}
.lib2-rb {
  animation-duration: 10s;
  animation-name: lib2-rb;
}
.lib2-lb {
  animation-duration: 10s;
  animation-name: lib2-lb;
}
.lib2-c {
  animation-duration: 10s;
  animation-name: lib2-c;
}
.lib2-rc {
  animation-duration: 10s;
  animation-name: lib2-rc;
}

@keyframes lib2-ball {
  0% {
    top: 180px;
    left: 110px;
  }

  25% {
    top: 195px;
    left: 410px;
  }

  75%,
  100% {
    top: 300px;
    left: 450px;
  }
}

@keyframes lib2-rf {
  0% {
    top: 270px;
    left: 280px;
  }

  50%,
  100% {
    top: 220px;
    left: 370px;
  }
}

@keyframes lib2-lf {
  0%,
  3% {
    top: 240px;
    left: 120px;
  }
  15% {
    top: 240px;
    left: 160px;
  }

  25% {
    top: 200px;
    left: 190px;
  }

  50%,
  100% {
    top: 180px;
    left: 250px;
  }
}
@keyframes lib2-rb {
  0% {
    top: 355px;
    left: 360px;
  }

  75%,
  100% {
    top: 345px;
    left: 440px;
  }
}
@keyframes lib2-lb {
  0% {
    top: 460px;
    left: 200px;
  }

  75%,
  100% {
    top: 440px;
    left: 250px;
  }
}
@keyframes lib2-c {
  0% {
    top: 355px;
    left: 30px;
  }

  75%,
  100% {
    top: 355px;
    left: 110px;
  }
}
@keyframes lib2-rc {
  0% {
    top: 360px;
    left: 310px;
  }

  100% {
    top: 350px;
    left: 240px;
  }
}
